.card-favorite {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-title-favorite {
    position: relative;
    text-align: center;
    width: 90%;
}

.logo-trash {
    position: absolute;
    right: 0px;
    top: -15px;
}

.image-title-favorite>img {
    width: inherit;
    height: 300px;
    object-fit: cover;
}